body {
  background: linear-gradient(to bottom right, #ffecd2, #fcb69f);
  height: 100vh; 
  margin: 0;
  padding: 0;
  overflow: hidden; 
}

.gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  padding: 10px;
  justify-items: center;
  height: 100vh;
  box-sizing: border-box;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 180px;
  overflow: hidden;
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  font-size: 0.8vw;
}

.card:hover {
  transform: scale(1.03);
}

.card img {
  width: 100%;
  height: auto;
  max-height: 100px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

.card-content {
  padding: 10px;
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-content h2 {
  font-size: 1.8vw;
  margin: 0;
}


.card-content p {
  display: none; 
}


.card-content strong {
  color: #000;
  display: block;
  margin-top: 4px; 
}

.nav-link {
  font-family: "droog", sans-serif;
  font-weight: 900;
  font-style: normal;
}

h1, h2 {
  font-family: "droog", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.card-content button {
  font-size: 0.8vw;
}
body {
  padding-bottom: 2rem;
}

.button-30 {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  padding: 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .15s, transform .15s;
  touch-action: manipulation;
  white-space: nowrap;
  font-size: 18px;
  z-index: 10;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}




#productModal .modal-title {
  font-family: "droog", sans-serif;
}

.rainbow-text {
  background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-weight: bold;
}



